#app{
    height: 100vh;
    background: #181e5fc2;
    white-space: pre-line;
}

/* #region scrollbar */

*::-webkit-scrollbar {
    width: 5px;
}
   
*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(105, 145, 163);
    border-radius: 0 5px 5px 0;
}

*::-webkit-scrollbar:hover -webkit-scrollbar-thumb {
    
    background-color: rgb(70, 153, 192);
}

/* #endregion */


/* #region colors */
.primary-color{
    background: #402f9ac2 !important;
}

.secondary-color{
    background: #4790ce !important;
}

.primary-color:hover{
    background: #181e5fc2 !important;
}

.secondary-color:hover{
    background: #346896 !important;
}

/* #endregion */


#main-container{
    display: grid;
    grid-template-rows: auto 1fr auto;

}

.table-info{
    display: grid;
    grid-template-rows: repeat(3, auto);
}

#profilePhoto{
    width: 30%;
    height: 30%;
    max-width: 230px;
    shape-outside: circle();
}

.list-style-none{
    list-style: none !important;
}

/* .button-icon{
    display: grid;
    grid-template-columns: auto 1fr;
} */

#threejs{

    height: 80%;
}

@media (max-width: 410px){


    .table-info > p:nth-child(1){
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
    }

    .table-place{
        grid-column: 1 / 3;
    }

}