<div class="notes-form-wrapper bg-white p-3 pb-5">

  <form [formGroup]="noteForm" novalidate>
    <!--Note fields -->
    <div class="mb-3">
      <label for="noteTitle" class="form-label">Title</label>
      <input type="text" class="form-control" id="noteTitle" placeholder="Note title"
             formControlName="title">
      <div *ngIf="noteForm.errors?.['required']">
      Name is required.
    </div>
    </div>
    <div class="mb-5">
      <label for="noteContent" class="form-label">Content</label>
      <textarea class="form-control" id="noteContent" placeholder="Content here"
                rows="5" formControlName="content"></textarea>
    </div>
  </form>

  {{noteForm.errors}}

  <!-- From actions -->
  <div class="buttons-wrapper">
    <button (click)="saveNote()" [disabled]="noteForm.invalid"
            class="bg-green">
              <fa-icon [icon]="checkIcon" class="fs-5"></fa-icon>
      <span class="d-none d-sm-inline ps-2">Save</span>
    </button>
    <button (click)="cancelNote()" class="bg-red">
              <fa-icon [icon]="cancelIcon" class="fs-5"></fa-icon>
      <span class="d-none d-sm-inline ps-2">Cancel</span>
    </button>
  </div>
</div>
