.main-container {
  max-width: 1400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  .search-wrapper {

  }

  .note-list-wrapper{
    width: 100%;
    height: inherit !important;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;

    .note {
      position: relative;
    }


    .notes-editor-wrapper {
      width: 100%;
      max-width: 800px;
      position: absolute;
      top: 100%;
      opacity: 0;
      z-index: -10;
      transition: all 0.5s, height 0s;

      &.active {
        top: 50%;
        opacity: 1;
        z-index: 100;
        transition: all 0.5s, height 0s;
      }

      .header {
        position: relative;
        border-radius: 10px 10px 0 0;
        z-index: 10;
      }
    }
  }
}
