<div class="notes-container p-4">
  <h3>Notes List</h3>
  <div class="screenBlocker" *ngIf="blockScreen"></div>

  <app-notes-list [notesList]="notes"></app-notes-list>

  <div class="buttons-wrapper ps-3 " >
    <button (click)="createNote()" class="bg-blue hoverable hov-bg-color">
      <fa-icon [icon]="addNewIcon" class="fs-5"></fa-icon>
      <span class="d-none d-md-inline ps-2">Create new note</span>
    </button>
    <button (click)="exportNotes()" class="bg-blue hoverable hov-bg-color">
      <fa-icon [icon]="exportIcon" class="fs-5"></fa-icon>
      <span class="d-none d-md-inline ps-2">Export notes</span>
    </button>
    <button (click)="importNotes()" class="bg-green hoverable hov-bg-color">
      <fa-icon [icon]="importIcon" class="fs-5"></fa-icon>
      <span class="d-none d-md-inline ps-2">Import notes</span>
    </button>
  </div>
</div>
